<div class="container d-flex flex-column flex-md-row align-items-center bg-white pt-2 mb-5 sticky-top header">
    <a class="navbar-brand bold800" href="/">ayoShotIt</a>
  <nav class="container navbar navbar-light">
    <div class="navbar-expand ml-auto navbar-nav bold800">
      <div class="navbar-nav">
        <a class="nav-item nav-link mr-4" href="/">
          HOME
        </a>
        <a class="nav-item nav-link mr-4" href="mailto:info@ayoshotit.com" target="_blank">
          CONTACT
        </a>
        <a class="nav-item nav-link mr-4" href="https://www.instagram.com/ayoshotit/" target="_blank">
          INSTAGRAM
        </a>
      </div>
    </div>
  </nav>
</div>