<nav class="container navbar navbar-light bg-transparent mb-5">
  <div><a class="navbar-brand bold800" href="/">ayoShotIt</a></div>
  <div class="navbar-expand ml-auto navbar-nav bold800">
    <div class="navbar-nav">
      <a class="nav-item nav-link mr-4" href="/">
        HOME
      </a>
      <a class="nav-item nav-link mr-4" href="mailto:info@ayoshotit.com" target="_blank">
        CONTACT
      </a>
      <a class="nav-item nav-link mr-4" href="https://www.instagram.com/ayoshotit/" target="_blank">
        INSTAGRAM
      </a>
    </div>
  </div>
</nav>