<nav class="container navbar navbar-light bg-transparent mb-5">
  <a class="navbar-brand" href="/">Ayoshotit</a>
  <div class="navbar-expand ml-auto navbar-nav bold800">
    <div class="navbar-nav">
      <a class="nav-item nav-link mr-4" href="https://github.com/beeman" target="_blank">
        HOME
      </a>
      <a class="nav-item nav-link mr-4" href="https://github.com/beeman" target="_blank">
        CONTACT
      </a>
      <a class="nav-item nav-link mr-4" href="https://github.com/beeman" target="_blank">
        INSTAGRAM
      </a>
    </div>
  </div>
</nav>